[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
autopep8 = "*"
pygame = "*"
pylint = "*"
tk = "*"
easygui = "*"
yapf = "*"
autoflake = "*"
pytest-shutil = "*"
pygame-widgets = "*"
pytest = "*"
opencv-python = "*"
pyperclip = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
